@using Microsoft.AspNetCore.Http
@using DrossDrop.DTOs
@model IEnumerable<DrossDrop.DTOs.Product>

@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string name = httpContextAccessor.HttpContext.Session.GetString("_Name");
}

@if (name != null)
{
    <h3>Welkom, @name!</h3>
}
else
{
    <h3>Welkom!</h3>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <h3>@Html.DisplayFor(modelItem => item.productName)</h3>
            <p>€@Html.DisplayFor(modelItem => item.productPrice)</p>
        </div>
    }
</div>