@using Microsoft.AspNetCore.Http
@model IEnumerable<DrossDrop.DTOs.Product>

@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string loggedIn = httpContextAccessor.HttpContext.Session.GetString("_LoggedIn");
    string name = httpContextAccessor.HttpContext.Session.GetString("_Name");
    int? id = httpContextAccessor.HttpContext.Session.GetInt32("_Id");
}

@if (loggedIn != null)
{
    <h3>Welkom, @name!</h3>
}
else
{
    <h3>Welkom!</h3>
    <p>Om producten aan je winkelwagen toe te voegen moet je eerst inloggen.</p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="@item.productImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.productName</h5>
                    <p class="card-text">€@item.productPrice</p>
                    
                    @if (loggedIn != null)
                    {
                        <form asp-controller="Cart" asp-action="AddToCart" method="post" asp-route-userId="@id" asp-route-productId="@item.productId">
                            <div class="form-group">
                                <input type="submit" value="Toevoegen" class="btn btn-primary"/>
                            </div>
                        </form>
                    }
                    
                </div>
            </div>
        </div>
    }
</div>