@using Microsoft.AspNetCore.Http
@using DrossDrop.DTOs
@model IEnumerable<DrossDrop.DTOs.Product>

@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Admin - Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    string name = httpContextAccessor.HttpContext.Session.GetString("_Name");
}

@if (name != null)
{
    <h3>Welkom, @name!</h3>
}
else
{
    <h3>Welkom!</h3>
}

<p>
    <a asp-action="Create">Nieuw product aanmaken</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Product naam
            </th>
            <th>
                Product prijs
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    €@Html.DisplayFor(modelItem => item.productPrice)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.productId">Bewerken</a> |
                    <a asp-action="Delete" asp-route-id="@item.productId">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>